* {
    margin: 0;
    padding: 0;
}


/* banner section */
header {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#e66465, #dcdfff);
}

.hero-container {
    height: 100vh;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hero-section-title {
    color: #272727;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-section-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 32px 0px;
}

.hero-section-img {
    width: 635px;
    height: 715px;
    flex-shrink: 0;
}

.primary-btn {
    background: #E55473;
    color: wheat;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 43px;
    border: 0px;
    border-radius: 8px;

}

.primary-btn:hover {
    background: white;
    color: #E55473;
}

/* featured section */
.featured-section {
    width: 75%;
    margin: 178px auto;
}

.hero-featured-section {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.hero-featured-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px;
}